body {
  margin: 0;
}

h1,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.content {
  max-width: 413px;
  margin-left: 100px;
  padding-top: 20%;
  padding-bottom: 20%;
  font-family: Roboto;
  font-style: normal;
  color: #ffffff;
}

.site-name {
  font-weight: 200;
  font-size: 64px;
  line-height: 0.9;
  margin-bottom: 55px;
}

.discount {
  font-weight: normal;
  margin-bottom: 40px;
}

.button {
  width: 130.5px;
  height: 56px;
  background: #00c17c;
  border-radius: 100px;
  border: none;
  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  color: inherit;
}

.discount .button {
  font-size: 14px;
  line-height: 1.1;
}
